intro_cs/.ipynb_checkpoints/
intro_cs/project/tracknet/
intro_cs/project/tracknet/TrackNetMirror/
intro_cs/project/soccer/
intro_cs/project/soccer/images/
.tmp.drivedownload/*
.tmp.drivedownload/
intro_cs/project/pictures/futsal-barlev.jpg
intro_cs/project/.vscode/settings.json
intro_cs/project/.idea/misc.xml
intro_cs/project/.idea/misc.xml
